@media screen and (max-width: 600px) {
  div.container {
    width: 100%;
  }
  div.section-one-wrap:first-child {
    margin: 60px 10px 55px 10px;
  }
  div.section-one-wrap:nth-child(n+2) {
    margin: 0px 10px 55px 10px;
  }
  div.hr-wrap hr {
    display: none;
  }
  div.header-nav div {
    margin: 0px 12% 15px 12%;
    width: 60px;
    text-align: left;
  }
  div.section-two-wrap {
    margin-left: 10px;
    margin-right: 10px;
  }
  div.section-two-wrap:first-child {
    margin-right: 0px;
    margin-bottom: 0px;
  }
  div.section-three-wrap {
    width: 90%;
    margin-left: 5%;
  }
  div.section-four-wrap:nth-child(n+2) {
    margin-top: 0px;
  }
  div.section-fifth-wrap {
    width: 90%;
  }
  div.section-fifth-wrap:first-child {
    margin-bottom: 0px;
    margin-right: 0px;
  }
  div.section-six-wrap:first-child {
    margin: 60px 35px 0px 0px;
    text-align: left;
    padding: 0;
  }
  div.section-six-wrap:last-child {
    margin: 30px 0px 60px 0px;
    transform: translateY(0%);
  }
  div.pre-footer-nav div {
    width: 100px;
    margin-left: 25px;
    margin-right: 25px;
  }
  div.pre-footer-nav div:nth-child(-n+3) {
    margin-bottom: 30px;
  }
  div.creators {
    margin-left: 5%;
  }
  .social-net {
    margin-right: 5%;
  }
}

@media screen and (max-width: 395px) {
  div.creators {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .social-net {
    margin-top: 0px;
    transform: translateY(-30px);
  }
}
